/* VARIABLES */
:root{
  --thme-text-color : #34313D;
  --text-color: #9E9AA8;
  --color-white: #fff;
  --main-font-weight : 700;
  --second-font-weight : 500;
}

/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/poppins-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* GENERAL */

html{
  height: 100%;
  box-sizing: border-box;
}

img{
  display: block;
  // height: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif;
  /* font-size: 16px; */
  /* font-weight: 400; */
  /* line-height: var(--main-line-height); */
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}
.site-header{
  position: relative;
  padding-top: 40px;
}
.site-header__box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header__logo{
  margin-right: 45px;
}
.site-header__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-header__item{
  margin-bottom: 30px;
}
.site-header__link{
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  text-decoration: none;
}
.site-header__link:hover{
  color: #34313D;
}

.site-header__right{
  width: 100%;
  max-width: 327px;
  display: flex;
  padding: 40px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3A3054;
  border-radius: 10px;
}
.site-header__buttons{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  margin-top: 32px;
}
.site-header__button{
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}
.site-header__button:hover{
  color: #34313D;
}
.site-header__button--signup{
  width: 100%;
  max-width: 180px;
  margin-top: 24px;
  margin-right: 0;
  padding-top: 12px;
  padding-bottom: 9px;
  // padding-left: 106px;
  // padding-right: 104px;
  border-radius: 28px;
  background-color: #2BD0D0;
}

.site-header__btn{
  background-image: url(../images/hamburger.svg);
  width: 24px;
  height: 21px;
}
.site-header__right{
  display: none;
}
.site-header__nav{
  position: relative;
}
.site-header__nav::after{
  position: absolute;
  bottom: 0;
  left: -45px;
  content: "";
  width: 180px;
  height: 1px;
  background: #9E9AA8;
  opacity: 0.25;
}
.site-header--right-on{
  width: 100%;
  max-width: 200px;
  position: absolute;
  top: 90px;
  left: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.site-header__button--signup:hover{
  background-color: #9AE3E3;
  color: #fff;
}
@media only screen and (min-width: 375px) {
  .site-header--right-on{
    width: 100%;
    max-width: 280px;
    left: calc(50% - 165px);
    margin-right: auto;
    margin-left: auto;
  }
  
  
}

@media only screen and (min-width: 720px) {
  .site-header{
    padding-top: 0;
  }
  .site-header__box{
    // width: 100%;
    justify-content: flex-start;
    
  }
  .site-header__btn{
    display: none;
  }
  
  .site-header--right-on{
    display: none;
  }
  .site-header__right{
    // width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }
  .site-header__list{
    flex-direction: row;
    margin: 0;
  }
  .site-header__item{
    margin: 0;
    margin-right: 20px;
  }
  .site-header__nav::after{
    content: "";
    background-color: transparent;
    width: 0;
    height: 0;
    margin: 0;
  }
  .site-header__link{
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #9E9AA8;
  }
  .site-header__buttons{
    width: 100%;
    max-width: 204px;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-left: auto;
  }
  .site-header__button{
    margin: 0;
    max-width: 300px;
    margin-right: 37px;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #9E9AA8;
  }
  .site-header__button--signup{
    // width: 100%;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-right: 23px;
    padding-left: 24px;
    max-width: 80px;
    color: #fff;
  }
}



.hero{
  // margin-top: 20px;
  background-image: url(../images/hero-bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(50% + 90px) calc(50% - 180px);
}
.hero__box{
  width: 100%;
  max-width: 327px;
  display: flex;
  flex-direction: column;
  padding-top: 250px;
  margin-bottom: 150px;
}
.hero__theme{
  margin: 0;
  margin-top: 37px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1.05px;
  color: #34313D;
}
.hero__text{
  margin: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.122727px;
  color: #9E9AA8;
}
.hero__link{
  // width: 100%;
  max-width: 197px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 14px;
  padding-right: 40px;
  padding-bottom: 12px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #2BD0D0;
  border-radius: 28px;
}
.hero__link:hover{
  background-color: #9AE3E3;
}

@media only screen and (min-width: 375px) {
  .hero{
    background-position: calc(50% + 90px) calc(50% - 150px);
  }
  .hero__theme{
    font-size: 42px;
  }
  .hero__text{
    font-size: 18px;
  }
}
@media only  screen and (min-width: 400px) {
  .hero__box{
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 440px) {
  .hero{
    background-position: calc(50% + 120px) calc(50% - 120px);
  }
  .hero__box{
    padding-top: 350px;
    margin-bottom: 150px;
  }
}
@media only screen and (min-width: 530px) {
  .hero{
    background-position: calc(50% + 170px) calc(50% - 150px);
    background-size: 500px;
  }
}

@media only screen and (min-width: 720px) {
  .hero{
    background-position: calc(50% + 250px) calc(50% + 10px);
  }
  .hero__box{
    margin: 0;
    padding: 0;
    margin-bottom: 150px;
    padding-bottom: 20px;
  }
  .hero__theme{
    text-align: left;
  }
  .hero__text{
    text-align: left;
  }
  .hero__link{
    margin: 0;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1000px) {
  .hero{
    padding-top: 100px;
    background-position: calc(50% + 500px) calc(50% - 0px);
    background-image: url(../images/hero-bg-desktop.svg);
    background-size: contain;
  }
  .hero__box{
    position: relative;
    width: 100%;
    max-width: 565px;
  }
  .hero__theme{
    margin-top: 0;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
    color: #34313D;
  }
  .hero__text{
    margin-bottom: 38px;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #9E9AA8;
  }
}

.form{
  position: relative;
}
.form__box{
  position: absolute;
  top: -90px;
  left: 0;
  right: 0;
  max-width: 1110px;
  margin: 0 24px;
  padding: 15px;
  background-image: url("../images/input-bg.svg");
  background-repeat: no-repeat;
  border-radius: 10px;
  border-bottom-right-radius: 10px;
}
.form__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label{
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 769px;
}
.hero-input{
  width: 100%;
  max-width: 769px;
  padding: 6px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.12px;
  color: #34313D;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 3px solid transparent;
}
.hero-input::placeholder{
  font-weight: var(--second-font-weight);
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: var(--text-color);
  opacity: 0.5;
}
.input-invalid{
  position: absolute;
  bottom: -35%;
  left: 0;
  margin: 0;
  opacity: 0;
}
.hero-input:not(:placeholder-shown):not(:focus):invalid ~ .input-invalid{
  opacity: 1;
  color: #f00;
  font-style: italic;
}
.hero-input:not(:placeholder-shown):not(:focus):invalid {
  border: 2px solid #f00;
  color: #F46363;
}
.hero-button{
  width: 100%;
  margin-top: 38px;
  padding: 11px 63px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  background-color: #2BD0D0;
  border-radius: 5px;
  border: none;
}

@media only screen and (min-width: 720px) {
  .form__form{
    // justify-content: space-between;
    flex-direction: row;
  }
  label{
    margin-right: 24px;
    width: 100%;
    max-width: 769px;
  }
  .hero-input{
    width: 100%;
    max-width: 769px;
  }
  
  .header-finish-link-second{
    max-width: 188px;
    margin-top: 0;
    padding: 14px 40px;
    font-size: 20px;
    line-height: 30px;
  }
  .form__box{
    top: -50px;
    padding: 24px;
  }
}

@media only screen and (min-width: 1170px) {
  .form__box{
    // top: calc(50%);
    bottom: calc(50%);
    // left: calc(50%);
    // right: calc(50%);
    width: 100%;
    max-width: 1110px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-right: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
  }
  .header-finish-link-second{
    display: flex;
    justify-content: start;
    // margin-left: auto;
  }
}


.statistic{
  padding-top: 170px;
  background-color: #EFF1F7;
}
.statistic__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.statistic__info{
  width: 100%;
  max-width: 320px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
}
.statistic__theme{
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 25px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.7px;
  color: #34313D;
}
.statistic__text{
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.109091px;
  color: #9E9AA8;
}
.statistic__wrapperin{
  position: relative;
}

.statistic__list{
  position: relative;
  width: 8px;
  height: 901px;
  background-color: #2BD0D0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  list-style: none;
}
.statistic__item{
  position: relative;
  // width: 100%;
  width: 320px;
  margin-bottom: 92px;
  padding-top: 77px;
  // padding-right: 20px;
  padding-bottom: 41px;
  // padding-left: 20px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 2;
}
.statistic__item-info{
  width: 100%;
  max-width: 263px;
  margin-right: auto;
  margin-left: auto;
}
.statistic__item:last-child{
  margin-bottom: 0;
}
.statistic__item::before{
  position: absolute;
  top: calc(50% - 180px);
  left: calc(50% - 40px);
  content: "";
  display: block;
  width: 88px;
  height: 88px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../images/statistics-recognition.svg);
  background-repeat: no-repeat;
}
.statistic__item:nth-child(2)::before{
  background-image: url(../images/statistics-records.svg);
}
.statistic__item:nth-child(3)::before{
  background-image: url(../images/statistics-customize.svg);
}
.statistic__item-theme{
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  color: #34313D;
}
.statistic__item-text{
  margin: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 26px;
  text-align: center;
  color: #9E9AA8;
}

.statistic__line{
  position: absolute;
  top: calc(50% - 470px);
  left: 50%;
  width: 8px;
  height: 946px;
  background-color: #2BD0D0;
  transform: rotateX(180deg);
  z-index: 1;
}

@media only screen and (min-width: 370px) {
  .statistic__item::before{
    top: calc(50% - 160px);
  }
  .statistic__line{
    top: calc(50% - 400px);
    height: 700px;
  }
}

@media only screen and (min-width: 700px) {
  .statistic__info{
    max-width: 540px;
  }
  .statistic__theme{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
    color: #34313D;
  }
  .statistic__text{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.122727px;
    color: #9E9AA8;
  }
}

@media only screen and (min-width: 860px) {
  .statistic__list{
    margin-top: 200px;
    margin-bottom: 200px;
    width: 850px;
    height: 8px;
    flex-direction: row;
    justify-content: space-between;
  }
  .statistic__item{
    width: 350px;
    // max-width: 250px;
    margin: 0;
    margin-right: 10px;
    // padding: 0;  
  }
  .statistic__item:last-child{
    margin-right: 0;
  }
  .statistic__line{
    width: 100%;
    max-width: 843px;
    height: 8px;
    transform: rotateY(90deg);
  }
  .statistic__item{
    padding-right: 10px;
    padding-left: 10px;
  }
  .statistic__item:nth-child(2){
    top: 25px;
  }
  .statistic__item:nth-child(3){
    top: 50px;
  }
}

@media only screen and (min-width: 1020px) {
  .statistic__list{
    width: 988px;
    margin-bottom: 250px;
  }
  .statistic__item-theme{
    text-align: left;
    font-size: 22px;
  }
  .statistic__item-text{
    text-align: left;
    font-size: 14px;
  }
  .statistic__item{
    margin-right: 30px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .statistic__item-info{
    margin: 0;
  }
  .statistic__item:nth-child(1){
    top: -15px;
  }
  .statistic__item:nth-child(2){
    top: 25px;
  }
  
  .statistic__item:nth-child(1):before{
    content: "";
    top: -40px;
    left: 32px;
  }
  .statistic__item:nth-child(2):before{
    content: "";
    top: -40px;
    left: 32px;
  }
  .statistic__item:nth-child(3){
    top: 65px;
  }
  .statistic__item:nth-child(3):before{
    content: "";
    top: -40px;
    left: 32px;
  }
}


.site-article{
  // width: 100%;
  // max-width: 1110px;
  padding: 90px 36px;
  background-image: url(../images/boost-bg-img.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.site-article__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 304px;
  margin-right: auto;
  margin-left: auto;
}
.site-article__theme{
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.7px;
  color: #FFFFFF;
}
.site-article__link{
  padding-top: 14px;
  padding-right: 40px;
  padding-bottom: 12px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  color: #FFFFFF;
  background-color: #2BD0D0;
  border-radius: 28px;
  text-decoration: none;
}
.site-article__link:hover{
  background-color: #9AE3E3;
}


@media only screen and (min-width: 1000px) {
  .site-article__box{
    max-width: 504px;
  }
  .site-article__theme{
    font-size: 40px;
  }
}

.site-footer{
  padding-top: 54px;
  padding-bottom: 56px;
  background-color: #000;
}
.footer-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.footer-box__logo{
  margin-bottom: 49px;
}
.footer-box__navbox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  list-style: none;
}
.footer-box__navitem{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
  text-align: center;
}
.footer-box__navitem:last-child{
  margin-bottom: 0;
}
.footer-box__features{
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-box__theme{
  margin-bottom: 22px;
  color: #fff;
}
.footer-box__link{
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.234375px;
  color: #BFBFBF;
  text-decoration: none;
}
.footer-box__link:hover{
  color: #2BD0D0;
}

.footer-box__social{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-box__socialitem{
  margin-right: 24px;
}
.footer-box__socialitem:last-child{
  margin-right: 0;
}

@media only screen and (min-width: 1000px) {
  .footer-box{
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .footer-box__logo{
    margin-bottom: 0;
  }
  .footer-box__navbox{
    margin: 0;
    margin-left: auto;
    align-items: start;
    flex-direction: row;
  }
  .footer-box__navitem{
    display: block;
    // margin-top: 60px;
    margin-bottom: 0;
    margin-right: 78px;
    text-align: left;
  }
  

  .footer-box__features-item{
    margin-bottom: 10px;
    text-align: left;
  }
  .footer-box__features-item:last-child{
    margin-bottom: 0;
  }
  .footer-box__theme{
    display: inline-block;
    margin-bottom: 22px;
    text-align: left;
  }
}